﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -STOK-TAKİP RAPORLAMA SİSTEMİ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("STOK-TAKİP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cari", "Index", "Caris")</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Stok
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Stok", "Index", "Stoks")
                            </li>
                            <li>
                                @Html.ActionLink("Stok Hareket", "Index", "Stok_Hareket")
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Depo
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Depo", "Index", "Depoes")
                            </li>
                            <li>
                                @Html.ActionLink("Depo Hareket", "Index", "Depo_Hareket")
                            </li>
                            <li>
                                @Html.ActionLink("Depo Takip", "Index", "Depo_Takip")
                            </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Kategoriler", "Index", "Kategoris")</li>
                    <li>@Html.ActionLink("Marka", "Index", "Markas")</li>
                    <li>@Html.ActionLink("Model", "Index", "Model")</li>
                    <li>@Html.ActionLink("Özellikler", "Index", "Ozelliklers")</li>
                    <li>@Html.ActionLink("Kategori Özellikleri", "Index", "Ozellik_iliski")</li>
                    <li>@Html.ActionLink("Raporlar", "Index", "Raporlars")</li>

                </ul>
                <ul class="nav  nav-bar pull-right" , style="color:white">
                    <li>@Html.ActionLink("ÇIKIŞ YAP", "Cikis", "Security")</li>

                </ul>

                <ul class="nav  nav-bar pull-right" , style="color:white">

                    <li>@Html.ActionLink("KAYIT OL", "Kayit", "Security")</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap") 
    <script src="~/Scripts/moment.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
