﻿@model StokTakip_v3._0.Models.Kategori

@{
    ViewBag.Title = "Delete";
}

<h2>Sil</h2>

<h3>Silmek İstediğinize Emin misiniz?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategori_ad):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori2.Kategori_ad):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori2.Kategori_ad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info" /> |
            @Html.ActionLink("Listelemeye Geri Dön", "Index")
        </div>
    }
</div>
