﻿@model StokTakip_v3._0.Models.Kategori

@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategori_ad):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori2.Kategori_ad):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori2.Kategori_ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Listelemeye Geri Dön", "Index")
</p>
