﻿@model StokTakip_v3._0.Models.Stok_Hareket

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Stok Hareket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cari_id, "Cari Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cari_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cari_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stok_id, "Stok Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("stok_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.stok_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Depo_id, "Depo Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Depo_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Depo_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.islem,"İşlem", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="islem" name="islem" class="form-control">
                    <option value="false">Alış</option>
                    <option value="true">Satış</option>
                </select>
                @Html.ValidationMessageFor(model => model.islem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Miktar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Miktar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Miktar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fiyat,"Birim Fiyat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control",@readonly="true" } })
                @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="formbutton" value="Ekle" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listelemeye Geri Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
         $(document).ready(function () {
             getfiyat();
         });
         $("#stok_id").change(function () {
             getfiyat();
         });
         $("#islem").change(function () {
             getfiyat();
         });
         function getfiyat() {
                var stokid = $("#stok_id").val();
                var islem = $("#islem").val();
             $.ajax({
                    url: "./fiyat?stokid=" + stokid + "&&islem=" + islem,
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        $('#Fiyat').val(data);
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                    }
                });
        }

        $("#formbutton").click(function () {
            console.log("function")
            var stokid = $("#stok_id").val();
            var islem = $("#islem").val();
            var miktar = $("#Miktar").val();
            if (islem == "true") {
                $.ajax({
                    url: "./satilabilirmi?id=" + stokid + "&&miktar=" + miktar,
                    datatype: "json",
                    type: "get",
                    success: function (data) {
                        if (data == "false") {
                            alert("bu miktarda stok bulunmadığı için satış yapamazsınız.")
                        } else {
                            $("form").submit();
                        }
                    },
                    error: function (xhr) {
                        console.log(xhr.responsetext);
                    }
                });
            } else {
                $("form").submit();
            }
        })
    </script>
}
