﻿@model StokTakip_v3._0.Models.Stok_Hareket

@{
    ViewBag.Title = "Edit";
}

<h2>Düzenleme</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.Tarih)

    <div class="form-group">
        @Html.LabelFor(model => model.cari_id, "Cari Adı", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("cari_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.cari_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.stok_id, "Stok Adı", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("stok_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.stok_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Depo_id, "Depo Adı", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Depo_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Depo_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.islem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="islem" name="islem" class="form-control">
                @if (Model.islem == false)
                {
                    <option value="false" selected>Alış</option>
                    <option value="true">Satış</option>
                }
                else
                {
                    <option value="false">Alış</option>
                    <option value="true" selected>Satış</option>
                }

            </select>
            @Html.ValidationMessageFor(model => model.islem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Miktar, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Miktar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Miktar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fiyat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kaydet" class="btn btn-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Listelemeye Geri Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
         $(document).ready(function () {
             getfiyat();
         });
         $("#stok_id").change(function () {
             getfiyat();
         });
         $("#islem").change(function () {
             getfiyat();
         });
         function getfiyat() {
                var stokid = $("#stok_id").val();
                var islem = $("#islem").val();
             $.ajax({
                    url: "../fiyat?stokid=" + stokid + "&&islem=" + islem,
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        $('#Fiyat').val(data);
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                    }
                });
        }
    </script>
}
