﻿@model StokTakip_v3._0.Models.Kullanici

@{
    ViewBag.Title = "Delete";
}

<h2>Sil</h2>

<h3>Silmek İstediğinize Emin misiniz?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info" /> |
            @Html.ActionLink("Listelemeye Geri Dön", "Index")
        </div>
    }
</div>
