﻿@model IEnumerable<StokTakip_v3._0.Models.Marka>

@{
    ViewBag.Title = "Index";
}

<h2>Markalar</h2>

<div class="btn btn-warning" style="margin-bottom:2rem">
    @Html.ActionLink("Yeni Marka Ekle", "Create")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marka_ad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka_ad)
            </td>
            <td>
                <a href="Markas/Edit/@item.id" class="btn btn-success" role="button">Düzenle</a>
                <a href="Markas/Details/@item.id" class="btn btn-info" role="button">Detaylar</a>
                <a href="Markas/Delete/@item.id" class="btn btn-danger" role="button">Sil</a>
            </td>
        </tr>
    }

</table>
