﻿@model StokTakip_v3._0.Models.Cari

@{
    ViewBag.Title = "Create";
}

    <h2>Ekleme</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @*@Html.LabelFor(model => model.Cari_ad, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label class="control-label col-md-2" for="Cari_ad">Cari Adı</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cari_ad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cari_ad, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cari_soyad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cari_soyad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cari_soyad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirmaUnvani, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirmaUnvani, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirmaUnvani, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">İl Adı</label>
            <div class="col-md-10">
                <select id="il_id" name="il_id" class="form-control">
                    @foreach(var item in ViewBag.iller)
                    {
                        <option value="@item.id">@item.ad</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ılce_id,"İlçe Adı" ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="ılce_id" name="ılce_id" class="form-control">

                </select>
                @Html.ValidationMessageFor(model => model.ılce_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listelemeye Geri Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            getIlce();
        });
        $("#il_id").change(function () {
            getIlce();
        });

        function getIlce() {
            var value = $("#il_id").val();
            $.ajax({
                url: "./Ilceler?ilid="+value,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                        $('.ilce').remove()
                    $.each(data, function (i, ii) {
                        $('#ılce_id').append(`<option value="${ii.id}" class='ilce'>${ii.ad}</option>`);  
                    })  
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    </script>
}
