﻿@model StokTakip_v3._0.Models.Cari

@{
    ViewBag.Title = "Details";
}

    <h2>Detaylar</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cari_ad):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cari_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cari_soyad):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cari_soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirmaUnvani):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaUnvani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilce.ad):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilce.ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Listelemeye Geri Dön", "Index")
</p>
