﻿
@{
    ViewBag.Title = "Index";
}
<div class="row" style="margin-top:50px">
    <div class="col-md-4">
        <div class="form-group">
            <label for="reports-list" class="control-label">Raporlar</label>
            <select id="reports-list" name="reports-list" class="form-control">
                <option value="1"> Alış Bazlı Stok Raporu </option>
                <option value="2"> Satış Bazlı Stok Raporu</option>
                <option value="9"> Depo bazlı Stok Raporu</option>
                <option value="10">Stok Bazlı Depo Raporu</option>
                <option value="3">Cari Bazlı Stok Raporu</option>
                <option value="4">Stok  Bazlı Cari Raporu</option>
                <option value="11">İl ve İlçe Bazında Cari Raporu</option>
                <option value="12">İl ve İlçe Bazlı Satış Raporu</option>
                <option value="8">Kategori Bazlı Stok Raporu</option>
                <option value="6">Marka Bazlı Satış Raporu</option>
                <option value="7">Model Bazlı Satış Raporu</option>
                <option value="13">Marka Bazlı Stok Raporu</option>
                <option value="14">Model Bazlı Stok Raporu</option>
                <option value="15">Marka Bazlı Alış Raporu</option>
                <option value="16">Model Bazlı Alış Raporu</option>
            </select>
        </div>
        <div class="form-group" id="div-cari-list">
            <label for="cari-list" class="control-label">Cari Seçimi</label>
            <select id="cari-list" name="cari-list" class="form-control">
                @foreach (var item in ViewBag.caris)
                {
                    <option value="@item.id">@item.Cari_ad</option>
                }
            </select>
        </div>
        <div class="form-group" id="div-stok-list">
            <label for="stok-list" class="control-label">Stok Seçimi</label>
            <select id="stok-list" name="stok-list" class="form-control">
                @foreach (var item in ViewBag.stoks)
                {
                    <option value="@item.id">@item.Ad</option>
                }
            </select>
        </div>
        <div class="form-group" id="div-depo-list">
            <label for="depo-list" class="control-label">Depo Seçimi</label>
            <select id="depo-list" name="depo-list" class="form-control">
                @foreach (var item in ViewBag.depos)
                {
                    <option value="@item.id">@item.Depo_ad</option>
                }
            </select>
        </div>
        <div class="form-group" id="div-marka-list">
            <label for="marka-list" class="control-label">Marka Seçimi</label>
            <select id="marka-list" name="marka-list" class="form-control">
                @foreach (var item in ViewBag.markas)
                {
                    <option value="@item.id">@item.Marka_ad</option>
                }
            </select>
        </div>
        <div class="form-group" id="div-model-list">
            <label for="model-list" class="control-label">Model Seçimi</label>
            <select id="model-list" name="model-list" class="form-control">
                @foreach (var item in ViewBag.models)
                {
                    <option value="@item.id">@item.Model_ad</option>
                }
            </select>
        </div>
        <div class="form-group" id="div-kategori-list">
            <label for="kategori-list" class="control-label">Kategori Seçimi</label>
            <select id="kategori-list" name="kategori-list" class="form-control">
                @foreach (var item in ViewBag.kategoris)
                {
                    <option value="@item.id">@item.Kategori_ad</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div id="div-first-date" class="col-md-6">
                <div class="form-group">
                    <label for="first-date" class="control-label">Başlangıç Tarihi</label>
                    <input id="first-date" name="first-date" class="form-control" type="date" placeholder="Seçiniz" value="@{DateTime.Today.ToString("dd-MM-yyyy");}" />
                </div>
            </div>
            <div id="div-last-date" class="col-md-6">
                <div class="form-group">
                    <label for="last-date" class="control-label">Bitiş Tarihi</label>
                    <input id="last-date" name="last-date" type="date" class="form-control" placeholder="Seçiniz" />
                </div>
            </div>
            <div id="div-iller" class="col-md-6">
                <div class="form-group">
                    <label for="iller" class="control-label">İl Seçimi</label>
                    <select id="iller" name="iller" class="form-control">
                        @foreach (var item in ViewBag.iller)
                        {
                            <option value="@item.id">@item.ad</option>
                        }
                    </select>
                </div>
            </div>
            <div id="div-ilceler" class="col-md-6">
                <div class="form-group">
                    <label for="ilceler" class="control-label">İlçe Seçimi</label>
                    <select id="ilceler" name="ilceler" class="form-control">
                    
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="text-align: center;">
        <button class="btn btn-info" onclick="sorgula()" style="margin-top:25px; width:50%">Sorgula</button>
    </div>
</div>
<hr />

<div class="row" style="margin-top:60px">
    @*<div id="example-table"></div>*@
    <table id="example-table" 
        data-pagination="true"
        data-page-list="[5, 10, 25, 50, 100, 200, All]"
        data-page-size="5"
        data-search="true"
        data-search-align="right"
        data-cache="false"
    >

    </table>
</div>
<div id="graphics" class="row">

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script>
        $(document).ready(function () {
            getIlce();
            isOptionsHidden();
        });
        $("#iller").change(function () {
            getIlce();
        });
        $("#reports-list").change(function () {
            isOptionsHidden();
        });
        var table = $('#example-table')
        function isOptionsHidden() {
            var value = Number($("#reports-list").val());
            allSelectClose();
            switch (value) {
                case 1:
                    openDates();
                    break;
                case 2:
                    openDates();
                    break;
                case 3:
                    openDates();
                    openCaris();
                    break;
                case 4:
                    openDates();
                    openStoks();
                    break;
                case 6:
                    openDates();
                    openMarkas();
                    break;
                case 7:
                    openDates();
                    openModels();
                    break;
                case 8:
                    openKategoris();
                    break;
                case 9:
                    openDepos();
                    break;
                case 10:
                    openStoks();
                    break;
                case 11:
                    openCity();
                    break;
                case 12:
                    openCity();
                    openDates();
                    break;
                case 13:
                    openMarkas();
                    break;
                case 14:
                    openModels();
                    break;
                case 15:
                    openDates();
                    openMarkas();
                    break;
                case 16:
                    openDates();
                    openModels();
                    break;
            }
        }
        function allSelectClose() {
            closeCaris();
            closeDepos();
            closeStoks();
            closeDates();
            closeCity();
            closeMarkas();
            closeModels();
            closeKategoris();
        }
        function closeCaris() {
            $("#div-cari-list").css("display", "none");
        }
        function closeStoks() {
            $("#div-stok-list").css("display", "none");
        }
        function closeDepos() {
            $("#div-depo-list").css("display", "none");
        }
        function closeMarkas() {
            $("#div-marka-list").css("display", "none");
        }
        function closeModels() {
            $("#div-model-list").css("display", "none");
        }
        function closeKategoris() {
            $("#div-kategori-list").css("display", "none");
        }
        function closeDates() {
            $("#div-first-date").css("display", "none");
            $("#div-last-date").css("display", "none");
        }
        function closeCity() {
            $("#div-iller").css("display", "none");
            $("#div-ilceler").css("display", "none");
        }
        function openCaris() {
            $("#div-cari-list").css("display", "inherit");
        }
        function openStoks() {
            $("#div-stok-list").css("display", "inherit");
        }
        function openMarkas() {
            $("#div-marka-list").css("display", "inherit");
        }
        function openModels() {
            $("#div-model-list").css("display", "inherit");
        }
        function openKategoris() {
            $("#div-kategori-list").css("display", "inherit");
        }
        function openDepos() {
            $("#div-depo-list").css("display", "inherit");
        }
        function openDates() {
            $("#div-first-date").css("display", "inherit");
            $("#div-last-date").css("display", "inherit");
        }
        function openCity() {
            $("#div-iller").css("display", "initial");
            $("#div-ilceler").css("display", "initial");
        }
        function getIlce() {
            var value = $("#iller").val();
            $.ajax({
                url: "/Raporlars/Ilceler?ilid="+value,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    $('.ilce').remove()
                    $('#ilceler').append(`<option value="0" class='ilce'>---Tümü---</option>`);
                    $.each(data, function (i, ii) {
                        $('#ilceler').append(`<option value="${ii.id}" class='ilce'>${ii.ad}</option>`);  
                    })  
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
        function drawCharts(count, data,labels,colors,titles) {
            $("#graphics").empty();
            var size = 12 / count;
            size = size <= 6 ? 6 : size;
            for (i = 0; i < count; i++) {
                $("#graphics").append("<div class='col-md-" + size + "'><canvas id='myChart" + i + "' ></canvas><h4>" + titles[i] + "</h4></div>");
                var ctx = document.getElementById('myChart'+i).getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'polarArea',
                    data: {
                        labels: labels[i],
                        datasets: [{
                            data: data[i],
                            backgroundColor: colors[i],
                            borderColor: colors[i] ,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        }
        function getRandomColor(count) {
            var colors = [];
            for (i = 0; i < count; i++) {
                var x = Math.floor(Math.random() * 256);
                var y = Math.floor(Math.random() * 256);
                var z = Math.floor(Math.random() * 256);
                var color = "rgba(" + x + "," + y + "," + z + ",0.5)";
                colors.push(color);
            }
            return colors;
        }
        function getAlisStokRapor() {
            var firstdate = $("#first-date").val();
            var lastdate = $("#last-date").val();
            $.ajax({
                url: "/Raporlars/AlisStokRapor?date1=" + firstdate + "&date2=" + lastdate,
                dataType:"json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    var uruntoplamları = []
                    var urunIdler=[]
                    var urunAdlar = []
                    var maliyetler = []
                    data.forEach(function (item) {
                        if (urunIdler.indexOf(item.id) == -1) {
                            urunIdler.push(item.id)
                            urunAdlar[urunIdler.indexOf(item.id)] = item.Ad;
                            uruntoplamları[urunIdler.indexOf(item.id)] = item.Miktar;
                            maliyetler[urunIdler.indexOf(item.id)] = item.Fiyat;
                        } else {
                            uruntoplamları[urunIdler.indexOf(item.id)] += item.Miktar
                            maliyetler[urunIdler.indexOf(item.id)] += item.Fiyat;
                        }
                        
                        var olddate = item.Tarih;
                        var newdate = new Date(olddate.match(/\d+/)[0] * 1);
                        var formateddate = ("0" + newdate.getDate()).slice(-2) + "/" + ("0" + (newdate.getMonth() + 1)).slice(-2) + "/" + newdate.getFullYear();
                        item.Tarih = formateddate;
                    });
                    console.log(urunIdler)
                    console.log(urunAdlar)
                    console.log(uruntoplamları)
                    table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
                        columns: [                 //define the table columns
                            { title: "Stok Kodu", sortable: true, field: "Stok_kodu" },
                            { title: "Stok Adı", sortable: true, field: "Ad" },
		                    {title:"Cari Adı", sortable: true, field:"Cari_ad"},
                            { title: "Depo Adı", sortable: true, field: "Depo_ad" },
                            { title: "Alış Fiyatı", sortable: true, field: "Fiyat" },
		                    {title:"Miktar", sortable: true, field:"Miktar"},
		                    {title:"Tarih", sortable: true, field:"Tarih", sorter:"date", sorterParams:{format:"DD/MM/YY"}},
	                    ],
                    });
                    var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];
                    stdata[0] = uruntoplamları
                    stLabel[0] = urunAdlar
                    stColor[0] = getRandomColor(urunIdler.length)
                    stTitle[0] = "Stok Bazında Alım Miktarları Grafiği"
                    stdata[1] = maliyetler
                    stLabel[1] = urunAdlar
                    stColor[1] = getRandomColor(urunIdler.length)
                    stTitle[1] = "Stok Bazında Alım Maliyetleri Grafiği"
                    drawCharts(2, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
        function getSatisStokRapor() {
            var firstdate = $("#first-date").val();
            var lastdate = $("#last-date").val();
            $.ajax({
                url: "/Raporlars/SatisStokRapor?date1=" + firstdate + "&date2=" + lastdate,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    var uruntoplamları = []
                    var urunIdler=[]
                    var urunAdlar = []
                    var maliyetler = []
                    data.forEach(function (item) {
                        if (urunIdler.indexOf(item.stok_id) == -1) {
                            urunIdler.push(item.stok_id)
                            urunAdlar[urunIdler.indexOf(item.stok_id)] = item.Ad;
                            uruntoplamları[urunIdler.indexOf(item.stok_id)] = item.Miktar;
                            maliyetler[urunIdler.indexOf(item.stok_id)] = item.Fiyat;
                        } else {
                            uruntoplamları[urunIdler.indexOf(item.stok_id)] += item.Miktar
                            maliyetler[urunIdler.indexOf(item.stok_id)] += item.Fiyat;
                        }
                        var olddate = item.Tarih;
                        var newdate = new Date(olddate.match(/\d+/)[0] * 1);
                        var formateddate = ("0" + newdate.getDate()).slice(-2) + "/" + ("0" + (newdate.getMonth() + 1)).slice(-2) + "/" + newdate.getFullYear();
                        item.Tarih = formateddate;
                    });
                     table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
		                    {title:"Stok Adı", sortable: true, field:"Ad"},
		                    {title:"Cari Adı", sortable: true, field:"Cari_ad"},
		                    {title:"Depo Adı", sortable: true, field:"Depo_ad"},
		                    {title:"Satış Fiyatı", sortable: true, field:"Fiyat"},
		                    {title:"Miktar", sortable: true, field:"Miktar"},
		                    {title:"Tarih", sortable: true, field:"Tarih", sorter:"date", sorterParams:{format:"DD/MM/YY"}},
	                    ],
                    });
                    var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];
                    stdata[0] = uruntoplamları
                    stLabel[0] = urunAdlar
                    stColor[0] = getRandomColor(urunIdler.length)
                    stTitle[0] = "Stok Bazında Satım Miktarları Grafiği"
                    stdata[1] = maliyetler
                    stLabel[1] = urunAdlar
                    stColor[1] = getRandomColor(urunIdler.length)
                    stTitle[1] = "Stok Bazında Satım Maliyetleri Grafiği"
                    drawCharts(2, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }  //Bitti
        function getMarkaSatisRapor() {
             var firstdate = $("#first-date").val();
             var lastdate = $("#last-date").val();
             var id = $("#marka-list").val();
            $.ajax({
                url: "/Raporlars/MarkaSatisRapor?date1=" + firstdate + "&date2=" + lastdate + "&markaid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    var urunIdler = []
                    var urunAdlar = []
                    var uruntoplamları = []
                    var maliyetler = []
                    data.forEach(function (item) {
                        if (urunIdler.indexOf(item.stok_id) == -1) {
                            urunIdler.push(item.stok_id)
                            urunAdlar[urunIdler.indexOf(item.stok_id)] = item.Ad;
                            uruntoplamları[urunIdler.indexOf(item.stok_id)] = item.Miktar;
                            maliyetler[urunIdler.indexOf(item.stok_id)] = item.Fiyat;
                        } else {
                            uruntoplamları[urunIdler.indexOf(item.stok_id)] += item.Miktar
                            maliyetler[urunIdler.indexOf(item.stok_id)] += item.Fiyat;
                        }
                        var olddate = item.Tarih;
                        var newdate = new Date(olddate.match(/\d+/)[0] * 1);
                        var formateddate = ("0" + newdate.getDate()).slice(-2) + "/" + ("0" + (newdate.getMonth() + 1)).slice(-2) + "/" + newdate.getFullYear();
                        item.Tarih = formateddate;
                    });
                    table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
                            {title: "Stok Adı", sortable: true, field: "Ad" },
		                    {title:"Marka Adı", sortable: true, field:"Marka_ad"},
		                    {title:"Cari Adı", sortable: true, field:"Cari_ad"},
		                    {title:"Satış Fiyatı", sortable: true, field:"Fiyat"},
		                    {title:"Miktar", sortable: true, field:"Miktar"},
		                    {title:"Tarih", sortable: true, field:"Tarih", sorter:"date", sorterParams:{format:"DD/MM/YY"}},
	                    ],
                    });
                    var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];
                    stdata[0] = uruntoplamları
                    stLabel[0] = urunAdlar
                    stColor[0] = getRandomColor(urunIdler.length)
                    stTitle[0] = "Marka Bazlı Satış Toplam Grafiği"
                    stdata[1] = maliyetler
                    stLabel[1] = urunAdlar
                    stColor[1] = getRandomColor(urunIdler.length)
                    stTitle[1] = "Marka Bazlı Satış Toplam Maliyet Grafiği"
                    drawCharts(2, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });

        }  //bitti
        function getMarkaAlisRapor() {
            var firstdate = $("#first-date").val();
            var lastdate = $("#last-date").val();
            var id = $("#marka-list").val();
            $.ajax({
                url: "/Raporlars/MarkaAlisRapor?date1=" + firstdate + "&date2=" + lastdate + "&markaid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    data.forEach(function(item){
                        var olddate = item.Tarih;
                        var newdate = new Date(olddate.match(/\d+/)[0] * 1);
                        var formateddate = ("0" + newdate.getDate()).slice(-2) + "/" + ("0" + (newdate.getMonth() + 1)).slice(-2) + "/" + newdate.getFullYear();
                        item.Tarih = formateddate;
                    });
                     table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
		                    {title:"Stok Adı", sortable: true, field:"Ad"},
		                    {title:"Cari Adı", sortable: true, field:"Cari_ad"},
		                    {title:"Depo Adı", sortable: true, field:"Depo_ad"},
		                    {title:"Alış Fiyatı", sortable: true, field:"Fiyat"},
		                    {title:"Miktar", sortable: true, field:"Miktar"},
		                    {title:"Tarih", sortable: true, field:"Tarih", sorter:"date", sorterParams:{format:"DD/MM/YY"}},
	                    ],
                     });
                     var stdata = [];
                    stdata[0] = [3, 5, 8, 7]
                    drawCharts(1, stdata);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
        function getMarkaStokRapor() {
              var id = $("#marka-list").val();     
            $.ajax({
                url: "/Raporlars/MarkaStokRapor?markaid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    var urunIdler = []
                    var urunAdlar = []
                    var uruntoplamları = []
                    data.forEach(function (item) {
                        if (urunIdler.indexOf(item.id) == -1) {
                            urunIdler.push(item.id)
                            urunAdlar[urunIdler.indexOf(item.id)] = item.Ad;
                            uruntoplamları[urunIdler.indexOf(item.id)] = item.Adet;
                        }
                    });

                    table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
		                    {title:"Stok Adı", sortable: true, field:"Ad"},
		                    {title:"Marka Adı", sortable: true, field:"Marka_ad"},
		                    {title:"Satış Fiyatı", sortable: true, field:"Satis_fiyat"},
		                    {title:"Alış Fiyatı", sortable: true, field:"Alis_fiyat"},
                            {title: "Miktar", sortable: true, field: "Adet" },
                            {title:"KDV Oranı", sortable: true, field:"Kdv_oran"},
	                    ],
                    });
                    var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];
                    stdata[0] = uruntoplamları
                    stLabel[0] = urunAdlar
                    stColor[0] = getRandomColor(urunIdler.length)
                    stTitle[0] = "Marka Bazlı Stok Miktarı"
                    drawCharts(1, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }  //bitti
        function getModelSatisRapor() {
             var firstdate = $("#first-date").val();
            var lastdate = $("#last-date").val();
            var id = $("#model-list").val(); 
            $.ajax({
                url: "/Raporlars/ModelSatisRapor?date1=" + firstdate + "&date2=" + lastdate + "&modelid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                     var urunIdler = []
                    var urunAdlar = []
                    var uruntoplamları = []
                    var maliyetler = []
                    data.forEach(function (item) {
                        if (urunIdler.indexOf(item.id) == -1) {
                            urunIdler.push(item.id)
                            urunAdlar[urunIdler.indexOf(item.id)] = item.Ad;
                            uruntoplamları[urunIdler.indexOf(item.id)] = item.Miktar;
                            maliyetler[urunIdler.indexOf(item.id)] = item.Fiyat;
                        } else {
                            uruntoplamları[urunIdler.indexOf(item.id)] += item.Miktar
                            maliyetler[urunIdler.indexOf(item.id)] += item.Fiyat;
                        }
                        var olddate = item.Tarih;
                        var newdate = new Date(olddate.match(/\d+/)[0] * 1);
                        var formateddate = ("0" + newdate.getDate()).slice(-2) + "/" + ("0" + (newdate.getMonth() + 1)).slice(-2) + "/" + newdate.getFullYear();
                        item.Tarih = formateddate;
                    });
                     table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
		                    {title:"Stok Adı", sortable: true, field:"Ad"},
		                    {title:"Model Adı", sortable: true, field:"Model_ad"},
		                    {title:"Depo Adı", sortable: true, field:"Depo_ad"},
		                    {title:"Satış Fiyatı", sortable: true, field:"Fiyat"},
		                    {title:"Miktar", sortable: true, field:"Miktar"},
		                    {title:"Tarih", sortable: true, field:"Tarih", sorter:"date", sorterParams:{format:"DD/MM/YY"}},
	                    ],
                     });
                     var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];
                    stdata[0] = uruntoplamları
                    stLabel[0] = urunAdlar
                    stColor[0] = getRandomColor(urunIdler.length)
                    stTitle[0] = "Model Bazlı Satış Toplam Miktar Grafiği"
                    stdata[1] = maliyetler
                    stLabel[1] = urunAdlar
                    stColor[1] = getRandomColor(urunIdler.length)
                    stTitle[1] = "Model Bazlı Satış Toplam Ücret Grafiği"
                    drawCharts(2, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });

        

        }  
        function getModelAlisRapor() {
             var firstdate = $("#first-date").val();
            var lastdate = $("#last-date").val();
            var id = $("#model-list").val();
            $.ajax({
                url: "/Raporlars/ModelAlisRapor?date1=" + firstdate + "&date2=" + lastdate + "&modelid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                      data.forEach(function(item){
                        var olddate = item.Tarih;
                        var newdate = new Date(olddate.match(/\d+/)[0] * 1);
                        var formateddate = ("0" + newdate.getDate()).slice(-2) + "/" + ("0" + (newdate.getMonth() + 1)).slice(-2) + "/" + newdate.getFullYear();
                        item.Tarih = formateddate;
                      });
                     table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
		                    {title:"Stok Adı", sortable: true, field:"Ad"},
		                    {title:"Model Adı", sortable: true, field:"Model_ad"},
		                    {title:"Depo Adı", sortable: true, field:"Depo_ad"},
		                    {title:"Alış Fiyatı", sortable: true, field:"Fiyat"},
		                    {title:"Miktar", sortable: true, field:"Miktar"},
		                    {title:"Tarih", sortable: true, field:"Tarih", sorter:"date", sorterParams:{format:"DD/MM/YY"}},
	                    ],
                    });
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
        function getModelStokRapor() {
             var id = $("#model-list").val();     
            $.ajax({
                url: "/Raporlars/ModelStokRapor?modelid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                     var urunIdler = []
                    var urunAdlar = []
                    var uruntoplamları = []
                    data.forEach(function (item) {
                         if (urunIdler.indexOf(item.id) == -1) {
                            urunIdler.push(item.id)
                            urunAdlar[urunIdler.indexOf(item.id)] = item.Ad;
                            uruntoplamları[urunIdler.indexOf(item.id)] = item.Adet;
                        }
                    })
                    table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
                        columns: [                 //define the table columns
                            
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
		                    {title:"Model Adı", sortable: true, field:"Model_ad"},
		                    {title:"Stok Adı", sortable: true, field:"Ad"},
		                    {title:"Satış Fiyatı", sortable: true, field:"Satis_fiyat"},
		                    {title:"Alış Fiyatı", sortable: true, field:"Alis_fiyat"},
                            {title: "Miktar", sortable: true, field: "Adet" },
                            {title:"KDV Oranı", sortable: true, field:"Kdv_oran"},
	                    ],
                    });
                    var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];
                    stdata[0] = uruntoplamları
                    stLabel[0] = urunAdlar
                    stColor[0] = getRandomColor(urunIdler.length)
                    stTitle[0] = "Model Bazlı Stok Miktarı"
                    drawCharts(1, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        } //bitti
        function getDepoStokRapor() {
            var id = $("#depo-list").val();
            $.ajax({
                url: "/Raporlars/DepoStokRapor?depoid=" + id,
                dataType: "json",
                type: "GET",
                success: function (data) {
                    console.log(data)
                    var urunIdler = []
                    var urunAdlar = []
                    var uruntoplamları = []
                    data.forEach(function (item) {
                        if (urunIdler.indexOf(item.Stok_id) == -1) {
                            urunIdler.push(item.Stok_id)
                            urunAdlar[urunIdler.indexOf(item.Stok_id)] = item.Ad;
                            uruntoplamları[urunIdler.indexOf(item.Stok_id)] = item.Stok_miktar;
                        }
                    });
                  
                    table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
                            {title: "Stok Kodu", sortable: true, field: "Stok_kodu" },
                            {title: "Stok Adı", sortable: true, field: "Ad" },
		                    {title:"Depo Adı", sortable: true, field:"Depo_ad"},
		                    {title:"Model Adı", sortable: true, field:"Model_ad"},
		                    {title:"Satış Fiyatı", sortable: true, field:"Satis_fiyat"},
		                    {title:"Alış Fiyatı", sortable: true, field:"Alis_fiyat"},
                            {title: "Miktar", sortable: true, field: "Stok_miktar" },
	                    ],
                     });
                    var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];
                    stdata[0] = uruntoplamları
                    stLabel[0] = urunAdlar
                    stColor[0] = getRandomColor(urunIdler.length)
                    stTitle[0] = "Depo BazlI Toplam Stok Miktar Grafiği"
                    drawCharts(1, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        } //bitti 
        function getStokDepoRapor() {
             var id = $("#stok-list").val();     
            $.ajax({
                url: "/Raporlars/StokDepoRapor?stokid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    var depoIdler = []
                    var depoAdlar = []
                    var depoToplamları = []
                    data.forEach(function (item) {
                        if (depoIdler.indexOf(item.Depo_id) == -1) {
                            depoIdler.push(item.Depo_id)
                            depoAdlar[depoIdler.indexOf(item.Depo_id)] = item.Depo_ad;
                            depoToplamları[depoIdler.indexOf(item.Depo_id)] = item.Stok_miktar;
                        }

                    });
                     table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
                            {title: "Stok Kodu", sortable: true, field: "Stok_kodu" },
                            {title: "Stok Adı", sortable: true, field: "Ad" },
		                    {title:"Depo Adı", sortable: true, field:"Depo_ad"},
                            {title: "Miktar", sortable: true, field: "Stok_miktar" },
	                    ],
                     });
                    var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];
                    stdata[0] = depoToplamları
                    stLabel[0] = depoAdlar
                    stColor[0] = getRandomColor(depoIdler.length)
                    stTitle[0] = "Stok BazlI Depolardaki Toplam Miktar Grafiği"
                    drawCharts(1, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }  //bitti
        function getCariStokRapor() {
            var firstdate = $("#first-date").val();
            var lastdate = $("#last-date").val();
            var id = $("#cari-list").val();
            $.ajax({
                url: "/Raporlars/CariStokRapor?date1=" + firstdate + "&date2=" + lastdate + "&cariid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    var urunAlisMiktarlari = []
                    var urunSatisMiktarlari = []
                    var satisToplam = 0;
                    var alisToplam = 0;
                    var urunAlisAdlar = []
                    var urunAlisIdler = []
                    var urunSatisAdlar = []
                    var urunSatisIdler = []
                    data.forEach(function (item) {
                        if (item.islem) {
                            satisToplam += item.Fiyat;
                            if (urunSatisIdler.indexOf(item.stok_id) == -1) {
                                urunSatisIdler.push(item.stok_id);
                                urunSatisAdlar[urunSatisIdler.indexOf(item.stok_id)] = item.Ad;
                                urunSatisMiktarlari[urunSatisIdler.indexOf(item.stok_id)] = item.Miktar;
                            } else {
                                urunSatisAdlar[urunSatisIdler.indexOf(item.stok_id)] += item.Ad;
                                urunSatisMiktarlari[urunSatisIdler.indexOf(item.stok_id)] += item.Miktar;
                            }
                        } else {
                            alisToplam += item.Fiyat;
                            if (urunAlisIdler.indexOf(item.stok_id) == -1) {
                                urunAlisIdler.push(item.stok_id);
                                urunAlisAdlar[urunAlisIdler.indexOf(item.stok_id)] = item.Ad;
                                urunAlisMiktarlari[urunAlisIdler.indexOf(item.stok_id)] = item.Miktar;
                            } else {
                                urunAlisAdlar[urunAlisIdler.indexOf(item.stok_id)] += item.Ad;
                                urunAlisMiktarlari[urunAlisIdler.indexOf(item.stok_id)] += item.Miktar;
                            }
                        }
                        var olddate = item.Tarih;
                        var newdate = new Date(olddate.match(/\d+/)[0] * 1);
                        var formateddate = ("0" + newdate.getDate()).slice(-2) + "/" + ("0" + (newdate.getMonth() + 1)).slice(-2) + "/" + newdate.getFullYear();
                        item.Tarih = formateddate;
                        item.islem = item.islem == 0 ? "ALIŞ" : "SATIŞ";
                    });
                    table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
		                    {title:"Stok Adı", sortable: true, field:"Ad"},
		                    {title:"Model Adı", sortable: true, field:"Model_ad"},
		                    {title:"Depo Adı", sortable: true, field:"Depo_ad"},
		                    {title:"Fiyat", sortable: true, field:"Fiyat"},
		                    {title:"Miktar", sortable: true, field:"Miktar"},
		                    {title:"İslem", sortable: true, field:"islem"},
		                    {title:"Tarih", sortable: true, field:"Tarih", sorter:"date", sorterParams:{format:"DD/MM/YY"}},
	                    ],
                    });
                    var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];

                    stdata[0] = urunAlisMiktarlari
                    stLabel[0] = urunAlisAdlar
                    stColor[0] = getRandomColor(urunAlisIdler.length)
                    stTitle[0] = "Cari Bazlı Toplam Alış Stok Miktarı"
                    stdata[1] = urunSatisMiktarlari
                    stLabel[1] = urunSatisAdlar
                    stColor[1] = getRandomColor(urunSatisIdler.length)
                    stTitle[1] = "Cari Bazlı Toplam Satış Stok Miktarı"
                    stdata[2] = [alisToplam, satisToplam]
                    stLabel[2] = ["Alış Toplamı", "Satış Toplamı"];
                    stColor[2] = getRandomColor(2);
                    stTitle[2] = "Toplam Alış ve Satış Ücretleri";
                    drawCharts(3, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }   //yapamadım
        function getStokCariRapor() {
             var firstdate = $("#first-date").val();
            var lastdate = $("#last-date").val();
            var id = $("#stok-list").val();
            $.ajax({
                url: "/Raporlars/StokCariRapor?date1=" + firstdate + "&date2=" + lastdate + "&stokid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    var alislar = 0
                    var satislar = 0
                    data.forEach(function (item) {
                        if (item.islem == false) {
                            alislar += item.Miktar
                        }
                        else {
                            satislar += item.Miktar
                        }
                        var olddate = item.Tarih;
                        var newdate = new Date(olddate.match(/\d+/)[0] * 1);
                        var formateddate = ("0" + newdate.getDate()).slice(-2) + "/" + ("0" + (newdate.getMonth() + 1)).slice(-2) + "/" + newdate.getFullYear();
                         item.Tarih = formateddate;
                         item.islem = item.islem == 0 ? "ALIŞ" : "SATIŞ";

                    });
                    table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
		                    {title:"Stok Adı", sortable: true, field:"Ad"},
		                    {title:"Cari Adı", sortable: true, field:"Cari_ad"},
		                    {title:"Cari Soyadı", sortable: true, field:"Cari_soyad"},
		                    {title:"Telefon", sortable: true, field:"Telefon"},
		                    {title:"Firma Unvanı", sortable: true, field:"FirmaUnvani"},
		                    {title:"Depo Adı", sortable: true, field:"Depo_ad"},
		                    {title:"Fiyat", sortable: true, field:"Fiyat"},
		                    {title:"Miktar", sortable: true, field:"Miktar"},
		                    {title:"İşlem", sortable: true, field:"islem"},
		                    {title:"Tarih", sortable: true, field:"Tarih", sorter:"date", sorterParams:{format:"DD/MM/YY"}},
	                    ],
                    });
                    var stdata = [];
                    var stLabel = [];
                    var stColor = [];
                    var stTitle = [];

                    stdata[0] = [alislar, satislar]
                    stLabel[0] = ["Alış Mktarı", "Satış Miktarı"]
                    stColor[0] = getRandomColor(2)
                    stTitle[0] = "Stok BazlI Toplam Alış-Satış Miktar Oran Grafiği"
                    drawCharts(1, stdata, stLabel, stColor, stTitle);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }   //bitti
        function getilceCariRapor() {
            var ilceid = $("#ilceler").val();
            var ilid = $("#iller").val();
            $.ajax({
                url: "/Raporlars/ilceCariRapor?ilid=" + ilid + "&ilceid=" + ilceid, 
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                   
		                    {title:"Cari Adı", sortable: true, field:"Cari_ad"},
		                    {title:"Cari Soyadı", sortable: true, field:"Cari_soyad"},
		                    {title:"Telefon", sortable: true, field:"Telefon"},
		                    {title:"Şehir Adı", sortable: true, field:"ad"},
		                    {title:"İlçe Adı", sortable: true, field:"ilcead"},
		                    {title:"Firma Unvanı", sortable: true, field:"FirmaUnvani"},
		                    {title:"Adres", sortable: true, field:"Adres"},
	                    ],
                    });
                    
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
            drawCharts(0);
        }  
        function getilceSatisRapor() {
            var firstdate = $("#first-date").val();
            var lastdate = $("#last-date").val();
            var ilceid = $("#ilceler").val();
            var ilid = $("#iller").val();
            $.ajax({
                url: "/Raporlars/ilceSatisRapor?date1=" + firstdate + "&date2=" + lastdate + "&ilid=" + ilid + "&ilceid=" + ilceid,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    data.forEach(function(item){
                        var olddate = item.Tarih;
                        var newdate = new Date(olddate.match(/\d+/)[0] * 1);
                        var formateddate = ("0" + newdate.getDate()).slice(-2) + "/" + ("0" + (newdate.getMonth() + 1)).slice(-2) + "/" + newdate.getFullYear();
                        item.Tarih = formateddate;
                    });
                     table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
		                    {title:"Stok Kodu", sortable: true, field:"Stok_kodu"},
		                    {title:"Stok Adı", sortable: true, field:"Ad"},
		                    {title:"Cari Adı", sortable: true, field:"Cari_ad"},
		                    {title:"Cari Soyadı", sortable: true, field:"Cari_soyad"},
		                    {title:"İlçe Adı", sortable: true, field:"ad"},
		                    {title:"Model Adı", sortable: true, field:"Model_ad"},
		                    {title:"Depo Adı", sortable: true, field:"Depo_ad"},
		                    {title:"Satış Fiyatı", sortable: true, field:"Fiyat"},
		                    {title:"Miktar", sortable: true, field:"Miktar"},
		                    {title:"Tarih", sortable: true, field:"Tarih", sorter:"date", sorterParams:{format:"DD/MM/YY"}},
	                    ],
                     });
                     var stdata = [];
                    stdata[0] = [3, 5, 8, 7]
                    drawCharts(1, stdata);
                    
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
        function getKategoriStokRapor() {
            console.log("func")
             var id = $("#kategori-list").val();     
            $.ajax({
                url: "/Raporlars/KategoriStokRapor?kategoriid=" + id,
                dataType: "json",
                type: "GET", 
                success: function (data) {
                    console.log(data)
                    table.bootstrapTable('destroy')
                    
                    table.bootstrapTable({
                        data: data,
	                    columns:[                 //define the table columns
                            {title: "Stok Kodu", sortable: true, field: "Stok_kodu" },
                            {title: "Stok Adı", sortable: true, field: "Ad" },
		                    {title:"Model Adı", sortable: true, field:"Model_ad"},
		                    {title:"Kategori Adı", sortable: true, field:"Kategori_ad"},
                            {title: "Alış Fiyatı", sortable: true, field: "Alis_fiyat" },
		                    {title:"Satış Fiyatı", sortable: true, field:"Satis_fiyat"},
                            {title: "Miktar", sortable: true, field: "Adet" },
                            {title: "KDV Oranı", sortable: true, field: "Kdv_oran" },
	                    ],
                    });
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
            drawCharts(0);
        }  //üst kategori adı ve alt kategori seçilip tabloda görüntülenecek mi

        function sorgula() {
            var value = Number($("#reports-list").val());
            switch (value) {
                case 1:
                    getAlisStokRapor();
                    break;
                case 2:
                    getSatisStokRapor();
                    break;
                case 3:
                    getCariStokRapor();
                    break;
                case 4:
                    getStokCariRapor();
                    break;
                
                case 6:
                    getMarkaSatisRapor();
                    break;
                case 7:
                    getModelSatisRapor();
                    break;
                case 8:
                    getKategoriStokRapor();
                    break;
                case 9:
                    getDepoStokRapor();
                    break;
                case 10:
                    getStokDepoRapor();
                    break;
                case 11:
                    getilceCariRapor();
                    break;
                case 12:
                    getilceSatisRapor();
                    break;
                case 13:
                    getMarkaStokRapor();
                    break;
                case 14:
                    getModelStokRapor();
                    break;
                case 15:
                    getMarkaAlisRapor();
                    break;
                case 16:
                    getModelAlisRapor();
                    break;
            }
        }
    </script>
}